In [2]:
# Dependencies
import json
import requests
import pandas as pd
from config import api_key
from config import census_api_key

In [3]:
# &for=state:* â€“ retrieves the result for all states
#c = Census(census_api_key, year = 2016)
#census_data = c.acs5.get()

In [4]:
url = f"https://api.census.gov/data/timeseries/asm/state?get=NAICS_TTL,EMP,GEO_TTL&for=state:*&YEAR=2016&NAICS=31-33*&key={api_key}"

response = requests.get(url)
All_State_Manu = response.json()
State_Manu_DF = pd.DataFrame(All_State_Manu)
State_Manu_DF

                0        1                     2     3      4      5
0       NAICS_TTL      EMP               GEO_TTL  YEAR  NAICS  state
1   Manufacturing   234803               Alabama  2016  31-33     01
2   Manufacturing    12178                Alaska  2016  31-33     02
3   Manufacturing     8377               Wyoming  2016  31-33     56
4   Manufacturing   136946               Arizona  2016  31-33     04
5   Manufacturing   145733              Arkansas  2016  31-33     05
6   Manufacturing  1119896            California  2016  31-33     06
7   Manufacturing   121069              Colorado  2016  31-33     08
8   Manufacturing   155062           Connecticut  2016  31-33     09
9   Manufacturing    25434              Delaware  2016  31-33     10
10  Manufacturing     1259  District of Columbia  2016  31-33     11
11  Manufacturing   270180               Florida  2016  31-33     12
12  Manufacturing   351951               Georgia  2016  31-33     13
13  Manufacturing    11513                Hawaii  2016  31-33     15
14  Manufacturing    55774                 Idaho  2016  31-33     16
15  Manufacturing   538183              Illinois  2016  31-33     17
16  Manufacturing   476417               Indiana  2016  31-33     18
17  Manufacturing   203835                  Iowa  2016  31-33     19
18  Manufacturing   154684                Kansas  2016  31-33     20
19  Manufacturing   230763              Kentucky  2016  31-33     21
20  Manufacturing   113914             Louisiana  2016  31-33     22
21  Manufacturing    49710                 Maine  2016  31-33     23
22  Manufacturing    91791              Maryland  2016  31-33     24
23  Manufacturing   223996         Massachusetts  2016  31-33     25
24  Manufacturing   555005              Michigan  2016  31-33     26
25  Manufacturing   297770             Minnesota  2016  31-33     27
26  Manufacturing   130537           Mississippi  2016  31-33     28
27  Manufacturing   245352              Missouri  2016  31-33     29
28  Manufacturing    16697               Montana  2016  31-33     30
29  Manufacturing    92945              Nebraska  2016  31-33     31
30  Manufacturing    41356                Nevada  2016  31-33     32
31  Manufacturing    65553         New Hampshire  2016  31-33     33
32  Manufacturing   210291            New Jersey  2016  31-33     34
33  Manufacturing    21747            New Mexico  2016  31-33     35
34  Manufacturing   395129              New York  2016  31-33     36
35  Manufacturing   411050        North Carolina  2016  31-33     37
36  Manufacturing    22862          North Dakota  2016  31-33     38
37  Manufacturing   642945                  Ohio  2016  31-33     39
38  Manufacturing   121220              Oklahoma  2016  31-33     40
39  Manufacturing   160128                Oregon  2016  31-33     41
40  Manufacturing   522221          Pennsylvania  2016  31-33     42
41  Manufacturing    36081          Rhode Island  2016  31-33     44
42  Manufacturing   213050        South Carolina  2016  31-33     45
43  Manufacturing    44094          South Dakota  2016  31-33     46
44  Manufacturing   308966             Tennessee  2016  31-33     47
45  Manufacturing   725255                 Texas  2016  31-33     48
46  Manufacturing   114500                  Utah  2016  31-33     49
47  Manufacturing    27420               Vermont  2016  31-33     50
48  Manufacturing   222824              Virginia  2016  31-33     51
49  Manufacturing   253462            Washington  2016  31-33     53
50  Manufacturing    44913         West Virginia  2016  31-33     54
51  Manufacturing   435922             Wisconsin  2016  31-33     55

In [6]:
response

['Total for all sectors',
 'Alabama',
 '1673249',
 'All establishments',
 '0400000US01',
 '99584',
 '01']

[['NAICS2012_TTL', 'GEO_TTL', 'EMP', 'LFO_TTL', 'GEO_ID', 'ESTAB', 'state'],
 ['Total for all sectors',
  'Alabama',
  '1673249',
  'All establishments',
  '0400000US01',
  '99584',
  '01'],
 ['Total for all sectors',
  'Alaska',
  '266072',
  'All establishments',
  '0400000US02',
  '21077',
  '02'],
 ['Total for all sectors',
  'California',
  '14600349',
  'All establishments',
  '0400000US06',
  '922477',
  '06'],
 ['Total for all sectors',
  'Colorado',
  '2318190',
  'All establishments',
  '0400000US08',
  '165264',
  '08'],
 ['Total for all sectors',
  'Idaho',
  '562282',
  'All establishments',
  '0400000US16',
  '45826',
  '16'],
 ['Total for all sectors',
  'Maryland',
  '2282725',
  'All establishments',
  '0400000US24',
  '138480',
  '24'],
 ['Total for all sectors',
  'New York',
  '8178455',
  'All establishments',
  '0400000US36',
  '544073',
  '36'],
 ['Total for all sectors',
  'Puerto Rico',
  '672399',
  'All establishments',
  '0400000US72',
  '43325',
  '72'],
 ['Total for all sectors',
  'United States Virgin Islands',
  '29598',
  'All establishments',
  '0400000US78',
  '2528',
  '78'],
 ['Total for all sectors',
  'Arizona',
  '2379409',
  'All establishments',
  '0400000US04',
  '139134',
  '04'],
 ['Total for all sectors',
  'Arkansas',
  '1023854',
  'All establishments',
  '0400000US05',
  '65611',
  '05'],
 ['Total for all sectors',
  'Connecticut',
  '1533879',
  'All establishments',
  '0400000US09',
  '89416',
  '09'],
 ['Total for all sectors',
  'Delaware',
  '400069',
  'All establishments',
  '0400000US10',
  '25366',
  '10'],
 ['Total for all sectors',
  'District of Columbia',
  '526879',
  'All establishments',
  '0400000US11',
  '23177',
  '11'],
 ['Total for all sectors',
  'Florida',
  '8169642',
  'All establishments',
  '0400000US12',
  '546218',
  '12'],
 ['Total for all sectors',
  'Georgia',
  '3804433',
  'All establishments',
  '0400000US13',
  '228330',
  '13'],
 ['Total for all sectors',
  'Hawaii',
  '528415',
  'All establishments',
  '0400000US15',
  '32350',
  '15'],
 ['Total for all sectors',
  'Illinois',
  '5513071',
  'All establishments',
  '0400000US17',
  '319605',
  '17'],
 ['Total for all sectors',
  'Indiana',
  '2720277',
  'All establishments',
  '0400000US18',
  '146078',
  '18'],
 ['Total for all sectors',
  'Iowa',
  '1354487',
  'All establishments',
  '0400000US19',
  '81563',
  '19'],
 ['Total for all sectors',
  'Kansas',
  '1184710',
  'All establishments',
  '0400000US20',
  '74884',
  '20'],
 ['Total for all sectors',
  'Kentucky',
  '1603173',
  'All establishments',
  '0400000US21',
  '92000',
  '21'],
 ['Total for all sectors',
  'Louisiana',
  '1709226',
  'All establishments',
  '0400000US22',
  '105732',
  '22'],
 ['Total for all sectors',
  'Maine',
  '511936',
  'All establishments',
  '0400000US23',
  '41178',
  '23'],
 ['Total for all sectors',
  'Massachusetts',
  '3254781',
  'All establishments',
  '0400000US25',
  '177631',
  '25'],
 ['Total for all sectors',
  'Michigan',
  '3805578',
  'All establishments',
  '0400000US26',
  '220412',
  '26'],
 ['Total for all sectors',
  'Minnesota',
  '2661627',
  'All establishments',
  '0400000US27',
  '150115',
  '27'],
 ['Total for all sectors',
  'Mississippi',
  '939322',
  'All establishments',
  '0400000US28',
  '58850',
  '28'],
 ['Total for all sectors',
  'Missouri',
  '2494720',
  'All establishments',
  '0400000US29',
  '160912',
  '29'],
 ['Total for all sectors',
  'Montana',
  '378463',
  'All establishments',
  '0400000US30',
  '37626',
  '30'],
 ['Total for all sectors',
  'Nebraska',
  '884450',
  'All establishments',
  '0400000US31',
  '54265',
  '31'],
 ['Total for all sectors',
  'Nevada',
  '1165298',
  'All establishments',
  '0400000US32',
  '64815',
  '32'],
 ['Total for all sectors',
  'New Hampshire',
  '594243',
  'All establishments',
  '0400000US33',
  '37868',
  '33'],
 ['Total for all sectors',
  'New Jersey',
  '3636293',
  'All establishments',
  '0400000US34',
  '231974',
  '34'],
 ['Total for all sectors',
  'New Mexico',
  '628723',
  'All establishments',
  '0400000US35',
  '43771',
  '35'],
 ['Total for all sectors',
  'North Carolina',
  '3794926',
  'All establishments',
  '0400000US37',
  '227347',
  '37'],
 ['Total for all sectors',
  'North Dakota',
  '346947',
  'All establishments',
  '0400000US38',
  '24601',
  '38'],
 ['Total for all sectors',
  'Ohio',
  '4790178',
  'All establishments',
  '0400000US39',
  '252201',
  '39'],
 ['Total for all sectors',
  'Oklahoma',
  '1360379',
  'All establishments',
  '0400000US40',
  '93232',
  '40'],
 ['Total for all sectors',
  'Oregon',
  '1551192',
  'All establishments',
  '0400000US41',
  '114551',
  '41'],
 ['Total for all sectors',
  'Pennsylvania',
  '5354964',
  'All establishments',
  '0400000US42',
  '301484',
  '42'],
 ['Total for all sectors',
  'Rhode Island',
  '435148',
  'All establishments',
  '0400000US44',
  '28685',
  '44'],
 ['Total for all sectors',
  'South Carolina',
  '1716496',
  'All establishments',
  '0400000US45',
  '105959',
  '45'],
 ['Total for all sectors',
  'South Dakota',
  '357950',
  'All establishments',
  '0400000US46',
  '26743',
  '46'],
 ['Total for all sectors',
  'Tennessee',
  '2592600',
  'All establishments',
  '0400000US47',
  '135352',
  '47'],
 ['Total for all sectors',
  'Texas',
  '10429924',
  'All establishments',
  '0400000US48',
  '579168',
  '48'],
 ['Total for all sectors',
  'Utah',
  '1239348',
  'All establishments',
  '0400000US49',
  '77504',
  '49'],
 ['Total for all sectors',
  'Vermont',
  '262705',
  'All establishments',
  '0400000US50',
  '21174',
  '50'],
 ['Total for all sectors',
  'Virginia',
  '3254172',
  'All establishments',
  '0400000US51',
  '199548',
  '51'],
 ['Total for all sectors',
  'Washington',
  '2685355',
  'All establishments',
  '0400000US53',
  '186164',
  '53'],
 ['Total for all sectors',
  'West Virginia',
  '558905',
  'All establishments',
  '0400000US54',
  '36607',
  '54'],
 ['Total for all sectors',
  'Wisconsin',
  '2524329',
  'All establishments',
  '0400000US55',
  '140859',
  '55'],
 ['Total for all sectors',
  'Wyoming',
  '208440',
  'All establishments',
  '0400000US56',
  '20966',
  '56'],
 ['Total for all sectors',
  'American Samoa',
  '8506',
  'All establishments',
  '0400000US60',
  '504',
  '60'],
 ['Total for all sectors',
  'Guam',
  '59032',
  'All establishments',
  '0400000US66',
  '3504',
  '66'],
 ['Total for all sectors',
  'Commonwealth of the Northern Mariana Islands',
  '18374',
  'All establishments',
  '0400000US69',
  '1759',
  '69']]

                       0
0  Total for all sectors
1                Alabama
2                1673249
3     All establishments
4            0400000US01
5                  99584
6                     01