In [1]:
# Dependencies
import json
import requests
import pandas as pd
from config import api_key
from config import census_api_key

In [9]:

url = f"https://api.census.gov/data/timeseries/asm/state?get=NAICS_TTL,EMP,GEO_TTL&for=state:*&YEAR=2016&NAICS=32*&key={census_api_key}"
response = requests.get(url)

In [11]:
manuf_info = response.json()

In [16]:
manufacturing_df = pd.DataFrame(manuf_info)
manufacturing_df

,0,1,2,3,4,5
0,NAICS_TTL,EMP,GEO_TTL,YEAR,NAICS,state
1,Wood product manufacturing,14054,Alabama,2016,321,01
2,Wood product manufacturing,343,Alaska,2016,321,02
3,Sawmills and wood preservation,5019,Alabama,2016,3211,01
4,Sawmills and wood preservation,48,Alaska,2016,3211,02
...,...,...,...,...,...,...
1361,Other nonmetallic mineral product manufacturing,0,North Dakota,2016,3279,38
1362,Other nonmetallic mineral product manufacturing,433,Oklahoma,2016,3279,40
1363,Other nonmetallic mineral product manufacturing,2864,Pennsylvania,2016,3279,42
1364,Other nonmetallic mineral product manufacturing,223,Rhode Island,2016,3279,44
1365,Other nonmetallic mineral product manufacturing,2393,Virginia,2016,3279,51

In [18]:
del manufacturing_df[5]

In [19]:
manufacturing_df

,0,1,2,3,4
0,NAICS_TTL,EMP,GEO_TTL,YEAR,NAICS
1,Wood product manufacturing,14054,Alabama,2016,321
2,Wood product manufacturing,343,Alaska,2016,321
3,Sawmills and wood preservation,5019,Alabama,2016,3211
4,Sawmills and wood preservation,48,Alaska,2016,3211
...,...,...,...,...,...
1361,Other nonmetallic mineral product manufacturing,0,North Dakota,2016,3279
1362,Other nonmetallic mineral product manufacturing,433,Oklahoma,2016,3279
1363,Other nonmetallic mineral product manufacturing,2864,Pennsylvania,2016,3279
1364,Other nonmetallic mineral product manufacturing,223,Rhode Island,2016,3279
1365,Other nonmetallic mineral product manufacturing,2393,Virginia,2016,3279

In [22]:
manufact_edited = manufacturing_df.rename(columns={0:"Job Category",
                                                  1:"People Employed",
                                                  2:"State",
                                                  3:"Year",
                                                  4:"NAICS Code"})
manufact_edited.head()

                     Job Category People Employed    State  Year NAICS Code
0                       NAICS_TTL             EMP  GEO_TTL  YEAR      NAICS
1      Wood product manufacturing           14054  Alabama  2016        321
2      Wood product manufacturing             343   Alaska  2016        321
3  Sawmills and wood preservation            5019  Alabama  2016       3211
4  Sawmills and wood preservation              48   Alaska  2016       3211

In [24]:
# Mounir added .reset_index(drop=True) to reset the index. This doesn't happen automatically and when you do things like groupby it can keep adding to it. Screwing it up.
manufact_edited = manufact_edited.drop(0).reset_index(drop=True)
manufact_edited.head()

,Job Category,People Employed,State,Year,NAICS Code
0,Wood product manufacturing,14054,Alabama,2016,321
1,Wood product manufacturing,343,Alaska,2016,321
2,Sawmills and wood preservation,5019,Alabama,2016,3211
3,Sawmills and wood preservation,48,Alaska,2016,3211
4,"Veneer, plywood, and engineered wood product m...",182,Alaska,2016,3212

In [31]:
manufact_edited.count()

Job Category       1365
People Employed    1365
State              1365
Year               1365
NAICS Code         1365
dtype: int64

In [38]:
manufac_by_state = manufact_edited.sort_values(by="State").reset_index(drop=True)
manufac_by_state.head(25)

,Job Category,People Employed,State,Year,NAICS Code
0,Wood product manufacturing,14054,Alabama,2016,321
1,"Resin, synthetic rubber, and artificial synthe...",4527,Alabama,2016,3252
2,Other nonmetallic mineral product manufacturing,588,Alabama,2016,3279
3,Paper manufacturing,9952,Alabama,2016,322
4,Other wood product manufacturing,6960,Alabama,2016,3219
5,"Veneer, plywood, and engineered wood product m...",2075,Alabama,2016,3212
6,Petroleum and coal products manufacturing,1733,Alabama,2016,324
7,"Pesticide, fertilizer, and other agricultural ...",782,Alabama,2016,3253
8,Nonmetallic mineral product manufacturing,5705,Alabama,2016,327
9,Basic chemical manufacturing,3475,Alabama,2016,3251
10,Glass and glass product manufacturing,992,Alabama,2016,3272
11,Petroleum and coal products manufacturing,1733,Alabama,2016,3241
12,Chemical manufacturing,11901,Alabama,2016,325
13,Cement and concrete product manufacturing,2396,Alabama,2016,3273
14,Lime and gypsum product manufacturing,468,Alabama,2016,3274
15,Clay product and refractory manufacturing,1261,Alabama,2016,3271
16,Pharmaceutical and medicine manufacturing,1132,Alabama,2016,3254
17,Rubber product manufacturing,4987,Alabama,2016,3262
18,Printing and related support activities,3279,Alabama,2016,323
19,"Paint, coating, and adhesive manufacturing",1035,Alabama,2016,3255
20,Plastics product manufacturing,12546,Alabama,2016,3261
21,Sawmills and wood preservation,5019,Alabama,2016,3211
22,"Soap, cleaning compound, and toilet preparatio...",233,Alabama,2016,3256
23,Plastics and rubber products manufacturing,17534,Alabama,2016,326
24,Converted paper product manufacturing,2746,Alabama,2016,3222

In [55]:
manufac_by_state.sum()

ValueError: No axis named People Employed for object type <class 'pandas.core.frame.DataFrame'>

In [47]:
list(set(manufac_by_state['Job Category']))

['Pulp, paper, and paperboard mills',
 'Sawmills and wood preservation',
 'Nonmetallic mineral product manufacturing',
 'Printing and related support activities',
 'Plastics and rubber products manufacturing',
 'Resin, synthetic rubber, and artificial synthetic fibers and filaments manufacturing',
 'Soap, cleaning compound, and toilet preparation manufacturing',
 'Lime and gypsum product manufacturing',
 'Wood product manufacturing',
 'Other nonmetallic mineral product manufacturing',
 'Other chemical product and preparation manufacturing',
 'Basic chemical manufacturing',
 'Petroleum and coal products manufacturing',
 'Veneer, plywood, and engineered wood product manufacturing',
 'Other wood product manufacturing',
 'Paper manufacturing',
 'Glass and glass product manufacturing',
 'Pharmaceutical and medicine manufacturing',
 'Chemical manufacturing',
 'Plastics product manufacturing',
 'Paint, coating, and adhesive manufacturing',
 'Rubber product manufacturing',
 'Clay product and refractory manufacturing',
 'Pesticide, fertilizer, and other agricultural chemical manufacturing',
 'Cement and concrete product manufacturing',
 'Converted paper product manufacturing']

In [39]:
manufac_by_industry = manufact_edited.sort_values(by="Job Category").reset_index(drop=True)
manufac_by_industry.head()

                   Job Category People Employed       State  Year NAICS Code
0  Basic chemical manufacturing            4474  New Jersey  2016       3251
1  Basic chemical manufacturing            7003        Ohio  2016       3251
2  Basic chemical manufacturing            4631    New York  2016       3251
3  Basic chemical manufacturing             820  New Mexico  2016       3251
4  Basic chemical manufacturing            2363    Missouri  2016       3251

TypeError: f() takes 1 positional argument but 2 were given

In [ ]:
#Exporting 
manufac_by_state.to_csv("CSV Files/Manufacturing Jobs by State", index=False, header=True)